@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.home,
.about,
.projects,
.contact,
.footer {
  min-height: 60vh;
  text-align: center;
}

.logo{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size:  20px;
  margin-right: 550px;
  font-family: Montserrat,sans-serif;
}
.logo a{
  color:rgb(226, 226, 226);
}
.logo a:hover{
  color:rgb(255, 255, 255);
}

nav{
  height: 64px;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  padding:0 1rem;
  background-color:rgb(0, 0, 0);
 
}

.nav_links{
  display:flex;
  justify-content:space-around;
  width: 160%;
  text-transform: uppercase;
}

.nav_links a{
  color: rgb(195, 195, 195);
  letter-spacing: 1.2px;
  font-weight:bold;
  font-size:15px;
  text-decoration-line: none;
  font-family: Montserrat,sans-serif;
}
.nav_links a:hover{
  color:rgb(255, 255, 255);
}

.sticky{
  position: sticky;
  top:0;
}


.home{
  background-color: rgb(157, 80, 80);
}
.about{
  background-color:rgb(157, 149, 80)
}
.projects{
  background-color: rgb(157,2,4)
}
.contact{
  background-color: rgb(137, 8, 157)
}
.footer{
  background-color: rgb(75, 69, 188)
}


